<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ page.title }} · Fruits of the Spirit</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.title }} | {{ page.slug }}">
<META NAME="keywords" CONTENT="{{ page.keys }}">
<meta name="robots" content="index, follow">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss.html" />


<!-- styles -->
<link href="fts/css/bootstrap.css" rel="stylesheet">
<link href="fts/css/bootstrap-responsive.css" rel="stylesheet">
<link href="fts/css/docs.css" rel="stylesheet">
<link href="fts/css/peterb.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- fav and touch icons -->
<link rel="shortcut icon" href="fts/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="fts/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="fts/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="fts/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="fts/ico/apple-touch-icon-57-precomposed.png">

</head>

<body data-spy="scroll" data-target=".pb-sidebar" class="ignore">

<div class="container bockenthien">

{% include main-nav.html %}

<!--Content: Fruits of the Spirit-->
<div class="row">
  <div class="span4 peter-sidebar">
    <h1>Fruits of the Spirit</h1>
    <h2>Flog</h2>
    <p>(<strong>F</strong>ruits b<strong>log</strong>)</p>
      <ul class="unstyled">
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
		  </ul>
      <hr />
      <a href="https://leanpub.com/fruitsofthespirit" target="_blank"><img src="fts/images/fruitsofthespirit-hack-your-beliefs.jpg" alt="Fruits of the Spirit: Hack Your Beliefs" id="book-link" class="img-responsive img-book" /></a>
</div>
<!-- content -->
