<!-- Navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fruits of the Spirit <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="flog.html">Flog: Fruits Blog</a></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>